
header{ background-color: lawngreen; text-align: center; width: 80%; margin: 80px;}

/* Manejo del Video Frame */
.iframe_video{
    position: relative;
    transition: all 1s ease;
}
.iframe_video:hover{
    transform: scale(1.5);
    z-index: 10;
}

@media all and (max-width: 580px){
    #contenedor{
        width: 90vw;
        margin: 0 auto;
    }
    
}