
header{ background-color: lime; text-align: center; width: 80%; margin: 80px;}

.iframe_video{
    position: relative;
    transition: all 1s ease;
}
.iframe_video:hover{
    transform: scale(1.8);
    z-index: 10;
}

@media all and (max-width: 580px){
    #contenedor{
        width: 90vw;
        margin: 0 auto;
    }
    
}
.boton{
    background-color: lime;
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: darkgreen;
    border-radius: 10px;
    font-size: 18px;
}